html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    list-style: none;
}

body {
    background-color: white;
    font-family: 'Armata', sans-serif;
    -webkit-overflow-scrolling: touch;
}

.nextContact {
    background: #ededed url("img/mail.svg") 50% no-repeat; 
    height: 60px;
    margin-top: 35px;
    width: 100%;
    position: absolute;
    left: 0%;
    bottom: 0px;
}

.nextContact:hover {
	background:rgb(13,194,116) url("img/mail_white.svg") 50% no-repeat;
    -webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-transition:all 0.2s ease-in-out;
    cursor: pointer
}

.nextArrow {
    background: #ededed url("img/next.svg") 50% no-repeat; 
    height: 60px;
    margin-top: 35px;
    width: 100%;
    position: absolute;
    left: 0%;
    bottom: 0px;
}

.nextArrow:hover {
	background:rgb(13,194,116) url("img/next_white.svg") 50% no-repeat;
    -webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-transition:all 0.2s ease-in-out;
    cursor: pointer
}	

.floor {
    color: black;
    font-size: 40px;
    text-align: center;
    cursor: default;
}

.intro {
    background: url("img/bg.png");
}

.work-1 {
    background-image:url('img/work/work01.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}

.work-2 {
    background-image:url('img/work/work02.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}

.work-3 {
    background:black;
}

.work-4 {
    background-image:url('img/work/work04.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}

.work-5 {
    background: url("img/work/work02.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}

.work-6 {
    background: url("img/work/work06.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}

.work-7 {
    background: url("img/work/intro.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}

.selected a {
    color: white !important;
    background:rgb(13,194,116);
    height: 99.9%;
    
}

.selected a:hover {
    color: white !important;
    background-color: rgb(0,171,93);
}

/*All toher stuff*/

.global-header {
    height: auto;
    background: rgba(250,250,250,0.95);
    margin: 20px;
    position: relative;
    z-index: 1000;
        -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.global-header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
    font-size: 0;
    line-height: 60px;
}

.global-header nav li:hover {
    background-color: #EEEEEE;
}

.global-header nav {
    width: 100%;
    text-align: left;
}

.global-header .nav-item {
    display: inline-block;
    font-style: normal;
    font-size: 12px;
    text-transform: uppercase;
    height: 60px;
    vertical-align: top;
    position: relative !important;
    padding-left: 0px;
    background: url("img/icon_divider.gif") 0 18px no-repeat;
}

.global-header .nav-item a {
    display: block;
    color: #333;
    line-height: 60px;
    padding: 0 20px;
    line-height: 61px;
    cursor: pointer;
    }

/*All toher stuff*/

.readMore {
    background: url("img/readMore.svg") 50% 50% no-repeat, #d03333;
    height: 80px;
    cursor: pointer;
    margin-top: -120px;
    width: 80px;
    left: 45%;
    position: absolute;
}

.readMore:hover {
    background: url("img/readMore_white.svg") 50% 50% no-repeat, rgb(13,194,116);
    cursor: pointer;
    -webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-transition:all 0.2s ease-in-out;
    cursor: pointer

}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}


.fullText {
    background: rgb(250,250,250);
    overflow: visible;
    padding-top: 20px;
    position: relative;
    height: auto;
    top: 82%;
    width: 100%;
    padding-bottom: 80px;
    cursor: default;
}

.fullText h1 {
    margin-left: 10px;
    margin-right: 10px;
    color: black;
    font-size: 36px;
    text-align: center;
}

.fullText h2 {
    
    margin-left: 10px;
    margin-right: 10px;
    color: black;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}

.fullText p {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    left: 10%; 
    width: 80%;
    margin-top: 30px;
    color: black;
    font-size: 14px;
    line-height: 180%;
    text-align: left;
    margin-bottom: 25px;
}

.fullText p highlight {
    color: black;
    background:rgb(250,250,25);
    padding: 1px 5px 1px 5px;
    margin: 0px 2px 0px 2px; 
}

.fullText a highlight {
    color: white;
    background:#0DC274;
    padding: 6px 10px 6px 10px;
    margin: 0px 2px 0px 2px;
    line-height: 260%;
}

.fullText a highlight:hover {
    color: white;
    background:#0BA160;
    -webkit-transition:all 0.1s ease-in-out;
	-moz-transition:all 0.1s ease-in-out;
	-transition:all 0.1s ease-in-out;
    cursor: pointer
}

.contact {
    background: #f2d245;
    padding-top: 300px;
    position: relative;
    height: auto;
    width: 100%;
    padding-bottom: 120px;
    cursor: default;
}

video#bgVideo {
    position: absolute; // Play the video in full screen mode
    top: 0px; 
    left: 0px; 
    width: 100%; 
    height: 100%;
    z-index: -1; // Put the video behind all other elements
    overflow: hidden;
    background-size:cover;
    background: url("img/work/buttonlab.mp4");
}


.contactText {
    margin-top: 30px;
    color: black;
    font-size: 14px;
    line-height: 180%;
    text-align: left;
    margin-bottom: 25px;
}